<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <title>Product example · Bootstrap</title>

  <link rel="stylesheet" href="/css/main.css" />
  <script src="/js/main.js"></script>
</head>

<body>
  <main id="main">
    <section class="d-flex align-items-center">
      <div class="container">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-6">
                <h2>Twitch self-bot</h2>
              </div>
              <div class="col-sm-6">
                <a href="#" data-bs-toggle="modal" data-bs-target="#addModal" class="btn btn-success" data-toggle="modal">
                  <i class="bi bi-plus-lg" style="font-size: 1rem; vertical-align: middle"></i>
                  <span style="vertical-align: middle">Add New Channel</span>
                </a>
              </div>
            </div>
          </div>
          <table id="table" class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Channel id (<%= channels.length %>)</th>
                <th scope="col">Regex count</th>
                <th scope="col">Spam count</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% channels.forEach( function( channel ){ %>
              <tr>
                <th scope="row"><%= channel.channel_id %></th>
                <td><%= channel.regexes.length %></td>
                <td><%= channel.spam.length %></td>
                <td>
                  <% if (channel.enable==true){%>
                  <i class="bi bi-check-circle text-success"></i>
                  <%}else{ %>
                  <i class="bi bi-x-circle text-danger"></i>
                  <% } %>
                </td>
                <td>
                  <a class="btn" href="#" role="button"><i class="bi bi-pencil-fill text-primary"></i></a>
                  <a class="btn" href="#" role="button" data-bs-toggle="modal" data-bs-target="#comfrimModal" data-id="<%= channel._id %>"><i class="bi bi-trash text-danger"></i></a>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </main>
  <!-- Comfrim Modal -->
  <div class="modal fade" id="comfrimModal" tabindex="-1" aria-labelledby="comfrimModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-header flex-column">
          <div class="icon-box">
            <i class="bi bi-x bi-lg"></i>
          </div>
          <h4 class="modal-title">Are you sure?</h4>
          <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <p>
            Do you really want to delete these channel?<br />This process
            cannot be undone.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-bs-dismiss="modal">
            Cancel
          </button>
          <form id="deleteForm" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Modal -->
  <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header flex-column">
          <h4 class="modal-title">Add a new channel</h4>
        </div>
        <div class="modal-body">
          <p id="addError" class="alert alert-danger" hidden></p>
          <form id="addForm" method="POST">
            <div class="form-group">
              <label>Channel ID</label>
              <input id="channel_id" name="channel_id" type="text" class="form-control" required>
            </div>
            <hr class="my-4">
            <p>Regexes <button id="regexAdder" type="button" class="btn btn-sm btn-primary">Add</button></p>
            <div id="passwordHelpBlock" class="form-text">
              Avaliable Placeholder: %username%、%group-0% (0 represnet regex group index)
            </div>
            <div id="regexList" class="form-group">
              <div id="regexContainer" class="input-group mb-3">
                <button id="deleteregex" class="btn btn-danger" type="button">Remove</button>
                <button id="switchBtn" class="btn btn-success" type="button">Enable</button>
                <input id="switchValue" name="regexEnable[]" type="text" value='1' hidden>
                <input name="regex[]" type="text" class="form-control" placeholder="Regex String">
                <input name="response[]" type="text" class="form-control" placeholder="Response String">
              </div>
            </div>
            <hr class="my-4">
            <p>Spams <button id="spamAdder" type="button" class="btn btn-sm btn-primary">Add</button></p>
            <div id="spamList" class="form-group">
              <div id="spamContainer" class="input-group mb-3">
                <button id="deletespam" class="btn btn-danger" type="button">Remove</button>
                <button id="switchBtn" class="btn btn-success" type="button">Enable</button>
                <input id="switchValue" name="spamEnable[]" type="text" value='1' hidden>
                <input name="cycle[]" type="number" class="form-control" placeholder="Spam cycle">
                <input name="message[]" type="text" class="form-control" placeholder="Message">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="reset" class="btn btn-warning">Reset</button>
              <button type="submit" class="btn btn-success">Add</button>
            </div>
          </form>
        </div>
        <!-- <div class="modal-footer"></div> -->
      </div>
    </div>
  </div>
</body>

</html>
<script>
  $(function() {
    $("#comfrimModal").on("show.bs.modal", function(event) {
      let button = $(event.relatedTarget);
      let id = button.data("id");
      $(this).find("#deleteForm").attr("action", `/channel/${id}?_method=DELETE`);
    });

    $("#regexAdder").click(function(e) {
      e.preventDefault();
      item = `<div id="regexContainer" class="input-group mb-3">
                <button id="deleteregex" class="btn btn-danger" type="button">Remove</button>
                <button id="switchBtn" class="btn btn-success" type="button">Enable</button>
                <input id="switchValue" name="regexEnable[]" type="text" value='1' hidden>
                <input name="regex[]" type="text" class="form-control" placeholder="Regex String">
                <input name="response[]" type="text" class="form-control" placeholder="Response String">
              </div>`;
      $('#regexList').append(item);
    });

    $("#spamAdder").click(function(e) {
      e.preventDefault();
      item = `<div id="spamContainer" class="input-group mb-3">
              <button id="deletespam" class="btn btn-danger" type="button">Remove</button>
              <button id="switchBtn" class="btn btn-success" type="button">Enable</button>
              <input id="switchValue" name="spamEnable[]" type="text" value='1' hidden>
              <input name="cycle[]" type="number" class="form-control" placeholder="Spam cycle">
              <input name="message[]" type="text" class="form-control" placeholder="Message">
            </div>`;
      $('#spamList').append(item);
    });

    $("body").on("click", "#deleteregex", function() {
      $(this).parents("#regexContainer").remove();
    })


    $("body").on("click", "#deletespam", function() {
      $(this).parents("#spamContainer").remove();
    })

    $("body").on("click", "#switchBtn", function() {
      let input = $(this).parent("div").find("#switchValue");
      if ($(input).val() == 1) {
        $(input).val(0);
        $(this).text("Disable").addClass('btn-danger').removeClass('btn-success');
      } else {
        $(input).val(1);
        $(this).text("Enable").addClass('btn-success').removeClass('btn-danger');
      }
    });

    $(document).on("submit", '#addForm', function(e) {
      let form = $(this);
      e.preventDefault();
      $("#addError").attr("hidden", true);
      $("#addError").text('');
      $.ajax({
        url: "/channel",
        method: "post",
        data: $(this).serialize(),
        success: function(res) {
          console.log(res);
          if (res.success) {
            location.reload();
          } else {
            $("#addError").attr("hidden", false);
            let text = "";
            console.log(res.errors)
            res.errors.forEach(function(err) {
              text += err.msg + "<br/>";
            });
            $("#addError").text(text);
          }
        },
        error: function(xhr, status, error) {
          alert('Error: ', error);
        }
      });
    });
  });
</script>